.popup{
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  z-index: 20;
  position: fixed;
  width: 40%;
  top: 10vh;
  left: 30%;
}

.newBookForm{
  display: grid;
  grid-template-columns: 39% 59%;
  grid-gap: 10px;
}

.img-preview{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview img{
  width: 100%;
  object-fit: cover;
}

.input-form{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.input-form input, .input-form select{
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.input-form textarea{
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
  border-radius: 5px;
}

.input-form .actions{
  display:flex;
  justify-content:flex-end;
  gap: 20px;
}

.input-form option, .input-form select{
  text-transform: capitalize;
}

.delete-book{
    top: 30vh;
}

.delete-book .delete-actions{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}