.cardInfo{
    display: grid;
    grid-template-columns: 10% 25% 25% 20% 20%;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.cardInfo .list-info{
    border-right: 1px solid lightgray;
    padding: 10px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.cardInfo .list-action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardInfo .list-action .icon{
    padding: 10px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.cardInfo .list-action .icon:hover{
    background-color: lightgray;
}